@font-face {
    font-family: "LUISS";
    font-style: normal;
    font-weight: normal;
    src: url("../dist/fonts/LuissSans-Regular.otf") format("truetype");
}

@font-face {
  font-family: "LUISS";
  font-weight: bold;
  font-style: normal;
  src: url("../dist/fonts/LuissSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: "LUISS";
  font-weight: normal;
  font-style: italic;
  src: url("../dist/fonts/LuissSans-italic.otf") format("opentype");
}

@font-face {
  font-family: LUISS;
  font-weight: bold;
  font-style: italic;
  src: url("../dist/fonts/LuissSans-BoldItalic.otf") format("opentype");
}